<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>My name is Iman Gareeboo. I am a doctoral student in the University of Miami's English Department. I research Jane Austen's novels, her contemporaries, and adaptations of Austen's work, as well as the relationships between Austen adaptations.
      </p>
      </div>
      <div class="col-lg-4">
        <p>My family is originally from Mauritius, with South Asian and Asian ancestry. I was born in England, was raised mostly in Texas and Florida in the USA, and have lived in Mauritius, England, and France.  </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
      </div>
    </div>
  </div>
</section>
